@import "bootstrap-sprockets";
@import "bootstrap";

.action-link{
  text-decoration: underline;
}

#header {
  height: 110px;
  background-color: #f7c3b6;
  background-size: cover;
}

body {
  background-image: url("paper");
}

.action-link{
  text-decoration: underline;
}

#sign-in-homepage {
  padding-top: 1%;
}
